.ba-fitness-title {
  text-align: center;
  margin-bottom: 21px;

  h2 {
	 font-size: 30px;
	 margin-bottom: 10px;
  }
  p {
    color: #a2a2a2;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: serif;
  }

  span {
    color: $primary-color;
  }
}
.ba-post-fitness-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 263px;
  margin: 0 auto;
  margin-top: 24px;

  &__title {
	 padding-left: 12px;
	 text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__text {
    color: $secondary-color;
    font-size: 14px;
    font-weight: 300;
	 line-height: 21px;
	 letter-spacing: 1px;
  }
}
